@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
   color: inherit;
}

body {
   font-family: 'Inter', sans-serif;
}

/* ********** */
/* Reused Styles */
/* ********** */

.col-13 {
   width: 1200px;
}

.span-2 {
   font-family: 'Poppins', sans-serif;
   font-size: 18px;
   line-height: 30px;
   color: #262b2c;
   font-weight: 500;
}

.span {
   font-family: 'Poppins', sans-serif;
   font-size: 24px;
   line-height: 30px;
   color: #262b2c;
   font-weight: 500;
}

.orange {
   font-family: 'Poppins', sans-serif;
   font-size: 14px;
   letter-spacing: 2px;
   font-weight: 600;
   color: #f6aa28;
}

.tango {
   font-family: 'Inter', sans-serif;
   font-size: 14px;
   padding-bottom: 4px;
   letter-spacing: 2px;
   font-weight: 600;
   text-transform: uppercase;
   display: inline-block;
   border-bottom: 2px solid #f6aa28;
   margin-bottom: 38px;
   transition: 0.4s ease;
   cursor: pointer;
}

.tango:hover {
   border-bottom: 2px solid #000000;
}

.h2 {
   font-family: 'Poppins', sans-serif;
   font-size: 40px;
   line-height: 52px;
   margin-bottom: 20px;
}

.h4 {
   font-family: 'Inter', sans-serif;
   font-size: 18px;
   line-height: 34px;
   color: #979a9b;
   margin-bottom: 20px;
   font-weight: 600;
}

.h5 {
   font-family: 'Inter', sans-serif;
   font-size: 16px;
   line-height: 34px;
   color: #979a9b;

}

.section-p1 {
   padding: 96px 0;
}

.section-m1 {
   margin: 40px 0;
}


button.normal {
   font-family: 'Inter', sans-serif;
   padding: 18px 30px;
   font-size: 14px;
   line-height: 14px;
   letter-spacing: 2px;
   font-weight: 700;
   transition: 0.3s ease;
   border: none;
   outline: none;
}

button.normal:hover {
   background-color: #262b2c;
   color: white;
}

button.transparent {
   font-family: 'Inter', sans-serif;
   padding: 18px 30px;
   font-size: 14px;
   line-height: 14px;
   letter-spacing: 2px;
   font-weight: 700;
   transition: 0.3s ease;
   border: 2px solid white;
   color: white;
   outline: none;
   background-color: transparent;
}

button.transparent:hover {
   background-color: #ffffff;
   color: rgb(0, 0, 0);
}


#topbar {
   background-color: #f1f1ef;
   color: #979a9b;
}

#topbar div {
   font-size: 12px;
}

/* ********** */
/* Navbar */
/* ********** */

#menu {
   z-index: 300 !important;
   background-color: white;
}

#menu .menu-items .item {
   font-size: 14px;
   cursor: pointer;
   color: #979a9b;
   font-weight: 600;
   transition: 0.3s ease;
}

#menu .menu-items .item i {
   color: black;
   font-size: 22px;
}

#menu .menu-items .item:hover {
   color: black;
}

#menu .menu-items .menu-left .logo {
   width: 155px !important;
}

#mobileMenu {
   transform: translateX(-100%);
   transition: 0.5s ease;
   position: absolute;
   width: 350px;
   height: 100vh;
   background-color: rgb(255, 255, 255);
   top: 0;
   left: 0;
}

#mobileMenu.active {
   transform: translate(0);
}

#mobileMenu .mobile-nav {
   padding: 80px 15px;
   position: relative;
}

#mobileMenu .mobile-nav .close {
   position: absolute;
   top: 20px;
   right: 20px;
}

#mobileMenu .mobile-nav .item {
   font-size: 12px;
   color: #6e7051;
}

#mobileMenu .mobile-nav .item .user {
   font-size: 22px;
   color: black;
}

.search i {
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   font-size: 18px;
   line-height: 13px;
   padding: 0 16px;
   background-color: #6e7051;
   color: white;
}

/* ********** */
/* Hero */
/* ********** */
#hero-slider {
   overflow: hidden;
}

#hero {
   height: calc(100vh - 112px);
   width: 200%;
}

#hero .slides {
   height: 100%;
   width: 100%;
   animation-duration: 20s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   animation-name: slide;
}

#hero .slide-1 {
   background-image: url('/assets/images/banner-z/burgess-milner-OYYE4g-I5ZQ-unsplash.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

#hero .slide-2 {
   background-image: url('https://www.beyours.in/cdn/shop/files/polo-fs-banner.jpg?v=1695822062&width=2000');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.slide-1 h1,
.slide-2 h1 {
   text-shadow: 5px 5px 10px #000000ad;
}

@keyframes slide {

   0%,
   49% {
      transform: translateX(0);
   }

   51%,
   98% {
      transform: translateX(-100%);
   }

   100% {
      transform: translateX(0);
   }
}

.hero-btn {
   padding: 0 35px;
   line-height: 52px;
   font-size: 16px;
   border: none;
   outline: none;
   font-weight: 700;
   border-radius: 5px;
}

.hero-btn:hover {
   background-color: #d9d9d9;
}




/* ********** */
/* About Us */
/* ********** */

.about-us img {
   height: 600px;
   object-fit: cover;
}

.about-img {
   padding: 80px 80px 80px 64px;
}

.about-img p {
   font-family: 'Poppins', sans-serif;
   font-size: 14px;
   letter-spacing: 2px;
   font-weight: 600;
   color: #f6aa28;
   margin-bottom: 28px;
}

.about-img div {
   font-family: 'Inter', sans-serif;
   font-size: 14px;
   padding-bottom: 4px;
   letter-spacing: 2px;
   font-weight: 600;
   text-transform: uppercase;
   display: inline-block;
   border-bottom: 2px solid #f6aa28;
   margin-bottom: 38px;
   transition: 0.4s ease;
   cursor: pointer;
}

.about-img div:hover {
   border-bottom: 2px solid #000000;

}

.logos {
   flex-wrap: wrap;
}

/* ********** */
/* Shoe */
/* ********** */

#shoe {
   background-color: #f1f1ef;
}

#shoe .shoe-left {
   padding-right: 56px;
}

.loka {
   padding-bottom: 80px;
}

#shoe .shoe-right {
   padding-left: 56px;
}

.boom {
   height: 100vh;
}

/* ********** */
/* Products  */
/* ********** */

#bestSellerContainer,
#menContainer,
#womenContainer,
#saleContainer,
#newArrivalContainer {
   text-align: center;
}

#bestSellerContainer .pro-container,
#menContainer .pro-container,
#womenContainer .pro-container,
#saleContainer .pro-container,
#newArrivalContainer .pro-container {
   display: flex;
   padding-top: 20px;
   flex-wrap: wrap;
   justify-content: space-between;
}

#bestSellerContainer .pro,
#menContainer .pro,
#womenContainer .pro,
#saleContainer .pro,
#newArrivalContainer .pro {
   width: 23%;
   min-width: 250px;
   height: 380px;
   padding: 10px 12px;
   border: 1px solid #cce7d0;
   box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
   margin: 15px 0;
   transition: 0.2s ease;
   position: relative;
   border-radius: 20px;
}

#bestSellerContainer .pro .des,
#menContainer .pro .des,
#womenContainer .pro .des,
#saleContainer .pro .des,
#newArrivalContainer .pro .des {
   text-align: start;
   padding: 10px 0;
}

#bestSellerContainer .pro .des span,
#menContainer .pro .des span,
#womenContainer .pro .des span,
#saleContainer .pro .des span,
#newArrivalContainer .pro .des span {
   color: #606063;
   font-size: 12px;
}

#bestSellerContainer .pro .des h5,
#menContainer .pro .des h5,
#womenContainer .pro .des h5,
#saleContainer .pro .des h5,
#newArrivalContainer .pro .des h5 {
   color: #1a1a1a;
   padding-top: 7px;
   font-size: 14px;
}

#bestSellerContainer .pro .des i,
#menContainer .pro .des i,
#womenContainer .pro .des i,
#saleContainer .pro .des i,
#newArrivalContainer .pro .des i {
   color: rgb(243, 181, 25);
   font-size: 12px;
}

#bestSellerContainer .pro .des .star,
#menContainer .pro .des .star,
#womenContainer .pro .des .star,
#saleContainer .pro .des .star,
#newArrivalContainer .pro .des .star {
   position: absolute;
   bottom: 37px;
}

#bestSellerContainer .pro .des .price .discount,
#menContainer .pro .des .price .discount,
#womenContainer .pro .des .price .discount,
#saleContainer .pro .des .price .discount,
#newArrivalContainer .pro .des .price .discount {
   font-size: 12px;
   color: #606063a5;
   text-decoration: line-through;
}

.price {
   bottom: 10px !important;
}

#bestSellerContainer .pro .sale,
#menContainer .pro .sale,
#womenContainer .pro .sale,
#saleContainer .pro .sale,
#newArrivalContainer .pro .sale {
   top: -10px;
   right: -10px;
   border-radius: 50%;
   padding: 12px 7px;
   background-color: #6e7051;
   color: #fff;
}

#bestSellerContainer .pro .des h4,
#menContainer .pro .des h4,
#womenContainer .pro .des h4,
#saleContainer .pro .des h4,
#newArrivalContainer .pro .des h4 {
   color: #088178;
   padding-top: 7px;
   font-size: 15px;
   font-weight: 700;
   cursor: pointer;
}

#bestSellerContainer .pro:hover,
#menContainer .pro:hover,
#womenContainer .pro:hover,
#saleContainer .pro:hover,
#newArrivalContainer .pro:hover {
   box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}

#bestSellerContainer .pro img,
#menContainer .pro img,
#womenContainer .pro img,
#saleContainer .pro img,
#newArrivalContainer .pro img {
   width: 100%;
   height: 250px;
   object-fit: cover;
   border-radius: 20px;
   cursor: pointer;
}

#bestSellerContainer .pro .cart,
#menContainer .pro .cart,
#womenContainer .pro .cart,
#saleContainer .pro .cart,
#newArrivalContainer .pro .cart {
   color: #088178;
   background-color: #e8f6ea;
   width: 40px;
   height: 40px;
   line-height: 40px;
   border-radius: 50px;
   border: 1px solid #cce7d0;
   position: absolute;
   bottom: 20px;
   right: 20px;
   cursor: pointer;
}


/* ***************** */
/* Banner */
/* ***************** */

#banner {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   background-image: url("../images/banner/b2.jpg");
   width: 100%;
   height: 40vh;
   background-position: center;
   background-size: cover;
}

#banner h4 {
   color: white;
   font-size: 18px;
}

#banner h2 {
   color: white;
   font-size: 36px;
   padding: 10px 0;
}

#banner h2 span {
   color: #ef3636;
}

#banner button:hover {
   background-color: #088178;
   color: #fff;
}

/* ******************* */
/* Banner grid */
/* ******************* */

#sm-banner {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

#sm-banner .banner-box {
   display: flex;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   background-image: url("../images/banner/b17.jpg");
   min-width: 663px;
   height: 50vh;
   background-position: center;
   background-size: cover;
   padding: 30px;
   border-radius: 20px;
   box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

#sm-banner .banner-box:hover {
   box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
}

#sm-banner .banner-box2 {
   background-image: url('../images/banner/b10.jpg');
}

#sm-banner h4 {
   color: #fff;
   font-size: 28px;
   font-weight: 400;
}

#sm-banner h2 {
   color: #fff;
   font-size: 38px;
   font-weight: 800;
}

#sm-banner span {
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
   color: #ffff;
   border: 1px solid #088178;
   background-color: #088178;
}

.land {
   overflow: hidden;
}

#banner3 {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 0 80px;
}

#banner3 h2 {
   color: white;
   text-shadow: rgba(255, 255, 255, 0.223) 1px 0 10px;

}

#banner3 .banner-box {
   display: flex;
   border-radius: 20px;
   box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding: 20px;
   margin-bottom: 20px;
   height: 30vh;
   width: 30%;
   background-image: url('../images/banner-z/sneakers.jpg');
   background-size: cover;
   background-position: center;
   transition: transform 0.3s ease;
   color: white;
}

#banner3 .banner-box:hover {
   box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
}

#banner3 .banner-box2 {
   background-image: url('../images/banner-z/hoodie.jpg');
}

#banner3 .banner-box3 {
   background-image: url('../images/banner-z/blue-jeans-fabric-details.jpg');
}

/* ******************* */
/* Newsletter */
/* ******************* */

#newsletter {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   background-image: url('../images/banner/b14.png');
   background-position: 20% 30%;
   background-repeat: no-repeat;
   background-color: #041e42;
   padding: 40px 80px;
}

.form {
   display: flex;
   width: 40%;
}

#newsletter h4 {
   font-size: 26px;
   color: #fff;
   font-weight: 700;
}

#newsletter p {
   font-size: 17px;
   color: #818ea0;
   font-weight: 600;
}

#newsletter p span {
   color: #ffbd27;
}

#newsletter input {
   font-size: 16px;
   outline: none;
   border: 1px solid transparent;
   width: 100%;
   height: 3.125rem;
   padding: 0 1.25em;
   border-radius: 4px;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
}

#newsletter button {
   background-color: #088178;
   color: #fff;
   white-space: nowrap;
   border-bottom-left-radius: 0;
   border-top-left-radius: 0;
}

/* ******************* */
/* Footer */
/* ******************* */

#footer {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

#footer .col {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

#footer .logo {
   margin-bottom: 30px;
}

#footer h4 {
   font-size: 20px;
   padding-bottom: 20px;
}

.contact {
   padding-bottom: 0 !important;
}

#footer p {
   font-size: 16px;
   margin-bottom: 8px;
}

#footer a {
   font-size: 16px;
   text-decoration: none;
   color: #222;
   margin-bottom: 10px;
}

#footer .follow {
   margin-bottom: 20px;
}

#footer .follow i {
   color: #222;
   padding-right: 4px;
   cursor: pointer;
}

.install p {
   margin-top: 0;
}

#footer .install .row img {
   border: 1px solid #088178;
   border-radius: 6px;
   margin-right: 5px;
}

#footer .install img {
   margin: 10px 0 15px 0;
}

#footer .follow i:hover,
#footer a:hover {
   color: #088178;
}

#footer .copyright {
   width: 100%;
   text-align: center;
}

/* ********** */
/* Shopping  */
/* ********** */

.shopping {
   gap: 30px;
   height: 600px;
}

.shopping .men {
   background-image: url('https://websitedemos.net/recycled-shoe-store-04/wp-content/uploads/sites/983/2021/11/recycled-shoe-store-shop-men-image-thumbnail.jpg');
   background-size: cover;
   background-position: center;
}

.shopping .women {
   background-image: url('https://websitedemos.net/recycled-shoe-store-04/wp-content/uploads/sites/983/2021/11/recycled-shoe-store-shop-women-image-tumbnail.jpg');
   background-size: cover;
   background-position: center;
}


/* ********** */
/* Reviews */
/* ********** */

.customers {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
}

.yellow i {
   color: #f6aa28;
}

.user img {
   border-radius: 50%;
}

.user div {
   color: #6e7051;
   font-size: 14px;
   text-transform: uppercase;
   letter-spacing: 2px;
}

/* ********** */
/* Better  */
/* ********** */

.better {
   background-image: url('https://websitedemos.net/recycled-shoe-store-04/wp-content/uploads/sites/983/2021/11/recycled-shoe-store-cta-image-bg.jpg');
   height: 680px;
   background-position: center;
   background-size: cover;
}

.better h1 {
   font-size: 64px;
   line-height: 84px;
   margin-bottom: 20px;
}

.better .h4 {
   margin-bottom: 40px;
}

/* ********** */
/* Payments  */
/* ********** */

.payments {
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


/* ********** */
/* Footer  */
/* ********** */

footer .foot-links div {
   padding: 7px 0;
   color: #6e7051;
}

.foot-bar {
   background-color: #f1f1ef;
   padding: 24px 40px;
}





/* ********** */
/* media queries  */
/* ********** */


@media (max-width: 1025px) {
   .h2 {
      font-size: 32px;
   }

   .span {
      font-size: 20px;
   }

   .h4 {
      font-size: 16px;
   }

   .about-us {
      display: block !important;
      width: 100%;
   }

   .about-img {
      padding: 30px;
   }

   .section-p1 {
      padding: 20px;
   }

   .col-13,
   .logos {
      width: 100%;
   }

   #shoe {
      padding: 48px 24px 48px 24px;
   }

   .shoes {
      width: 100%;
   }

   .loka {
      padding-bottom: 40px;
   }

   .shopping {
      height: 280px;
   }

   .customers {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0;
   }
}

@media (max-width: 767px) {
   #menu .menu-items .menu-left {
      align-items: center;
   }

   #hero {
      height: 80vh;
   }

   #hero h2 {
      font-size: 48px;
   }

   #hero p {
      font-size: 18px;
   }

   #hero button.normal {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-bottom: 20px;
   }


   #featuredProducts .pro-container,
   #newArrivals .pro-container,
   #relatedProducts .pro-container {
      justify-content: center;
   }

   #featuredProducts .pro,
   #newArrivals .pro,
   #relatedProducts .pro {
      margin: 15px;
   }

   #banner {
      height: 25vh;
      padding: 20px 0;
   }


   .shopping {
      gap: 10px;
      display: block !important;
      height: auto;
   }

   .shopping .men {
      height: 250px;
      margin-bottom: 5px;
   }

   .shopping .women {
      height: 250px;
   }

   .customers {
      display: block !important;
   }

   .veg-right {
      justify-content: center !important;
      order: 1 !important;
   }

   .veg-left {
      order: 2 !important;
      padding-right: 0;
   }

   .payments {
      gap: 0;
      display: block !important;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
   }

   .payments div i {
      margin-bottom: 10px;
   }

   .better h1 {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 20px;
   }

   .h4 {
      font-size: 14px;
      line-height: 24px;
   }

   .luffy {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
   }

   .luffy .foot-links {
      padding: 0 !important;
      width: 100%;
      text-align: center;
   }

   .social {
      display: flex;
      justify-content: center;
   }

   .foot-bar {
      display: block !important;
      text-align: center;
   }

   .foot-bar .foot-images {
      justify-content: center !important;
   }

   .better {
      height: 320px;
   }

}

@media (max-width: 576px) {
   #menu .menu-items .menu-left .logo {
      width: 95px !important;
   }

   #menu .menu-items .item .bars {
      color: #6e7051;
   }

   #hero {
      height: 75vh;
   }

   #hero .slide-1 {
      background-image: url('/assets/images/banner-z/hero-2.jpg');
   }

   #hero .slide-2 {
      background-image: url('/assets/images/banner-z/hero-3.jpg');
   }

   #hero h2 {
      margin-top: 70px;
      text-align: center;
   }

   #hero p {
      margin: 50px 0 !important;
      font-size: 14px;
      text-align: center;
   }

   .about-us img {
      height: 300px;
      object-fit: contain;
   }

   #shoe .h2,
   .about-img .h2 {
      font-size: 22px;
      line-height: 30px;
   }

   .logos p,
   .logos img {
      width: 50% !important;
   }

   #bestSellerContainer .pro,
   #menContainer .pro,
   #womenContainer .pro,
   #saleContainer .pro,
   #newArrivalContainer .pro {
      width: 23%;
      min-width: 250px;
      height: 300px;
      padding: 10px 12px;
      border: 1px solid #cce7d0;
      box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
      margin: 15px 0;
      transition: 0.2s ease;
      position: relative;
      border-radius: 20px;
   }

   #featuredProducts .pro-container,
   #newArrivals .pro-container,
   #relatedProducts .pro-container {
      justify-content: space-between;
   }

   #featuredProducts,
   #newArrivals,
   #relatedProducts {
      padding: 10px;
   }

   #featuredProducts .pro,
   #newArrivals .pro,
   #relatedProducts .pro {
      margin: 5px;
      min-width: 176px;
      padding: 10px 12px;
      margin: 5px;
   }

   #bestSellerContainer,
   #menContainer,
   #womenContainer,
   #saleContainer,
   #newArrivalContainer {
      text-align: center;
      padding: 0;
   }

   #bestSellerContainer .pro,
   #menContainer .pro,
   #womenContainer .pro,
   #saleContainer .pro,
   #newArrivalContainer .pro {
      min-width: 172px;
   }

   #bestSellerContainer .pro img,
   #menContainer .pro img,
   #womenContainer .pro img,
   #saleContainer .pro img,
   #newArrivalContainer .pro img {
      height: 151px;
      object-fit: cover;
      border-radius: 20px;
      cursor: pointer;
   }

   #bestSellerContainer .pro .sale,
   #menContainer .pro .sale,
   #womenContainer .pro .sale,
   #saleContainer .pro .sale,
   #newArrivalContainer .pro .sale {
      top: -10px;
      right: -10px;
      border-radius: 50%;
      padding: 6px 2px;
      background-color: #6e7051;
      color: #fff;
      font-size: 12px;
   }

   #banner {
      height: auto;
   }

   #banner h2 {
      color: white;
      font-size: 24px;
      padding: 10px 0;
  }

   .shopping {
      display: block !important;
      height: auto;
   }

   .customers {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
   }
}