body {
   background-color: #f1f1ef;
}

.men-items {
   margin-top: 50px;
   background-color: white;
}

.men-items .men {
   padding: 50px;
}

.men-items .men .h1 {
   color: #6e7051;
   font-size: 72px;
   line-height: 80px;
   margin-bottom: 72px;
}

.men-items button.normal {
   background-color: #6e7051;
   color: white;
   padding: 13px 14px;
}

.men-items button.normal:hover {
   background-color: #262b2c;
}