#prodetails {
   display: flex;
   justify-content: center;
   height: 600px;
}

#prodetails .single-pro-image {
   width: 30%;
   margin-right: 50px;
   height: 450px;
}

#prodetails .single-pro-image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: top;
}

#mainImg {
   margin-bottom: 7px;
}

.small-img-group {
   display: flex;
   justify-content: space-between;
}

.small-img-col {
   flex-basis: 24%;
   height: 100px;
   cursor: pointer;
   margin-top: 6px;
}

.small-img-col .small-img {
   width: 100px;
   height: 100px;
   object-fit: cover;
   object-position: top;
}

#prodetails {
   display: flex;
   margin-top: 30px;
}

#prodetails .single-pro-details {
   width: 50%;
   padding-top: 30px;
}

#prodetails .single-pro-details h4 {
   padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
   font-size: 28px;
}

#prodetails .single-pro-details select {
   display: block;
   padding: 5px 10px;
   margin-bottom: 10px;
}

#prodetails .single-pro-details input {
   width: 50px;
   height: 47px;
   padding-left: 10px;
   font-size: 16px;
   margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
   outline: none;
}

.flex button {
   background-color: #088178;
   color: white;
   padding: 7px 70px;
}

.wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 10px;
   border: 1px solid #cce7d0;
   border-radius: 5px;
}

.wrapper span {
   padding: 10px 20px;
   border: 1px solid #cce7d0;
   cursor: pointer;
   font-size: 20px;
   font-weight: 700;
}

.kuka {
   display: none;
}

@media (max-width: 850px) {
   #prodetails .single-pro-image {
      width: 50%;
   }

   .kuka {
      display: block;
   }

   .none {
      display: none;
   }
   #prodetails {
      height: 700px;
   }
}

@media (max-width: 500px) {
   #prodetails {
      display: block;
   }

   #prodetails .single-pro-image {
      width: 100%;
   }

   #prodetails .single-pro-details {
      width: 100%;
   }

   #prodetails .single-pro-details h4 {
      padding: 0;
   }

   #prodetails .single-pro-details {
      width: 50%;
      padding-top: 120px;
   }

   .section-p1 {
      padding: 20px;
  }
  #prodetails {
   height: 800px;
}
}