#prodetails {
   display: flex;
   justify-content: center;
   height: 600px;
}

#prodetails .single-pro-image {
   width: 30%;
   margin-right: 50px;
   height: 450px;
}

#prodetails .single-pro-image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: top;
}

#mainImg {
   margin-bottom: 7px;
}

.small-img-group {
   display: flex;
   justify-content: space-between;
}

.small-img-col {
   flex-basis: 24%;
   height: 100px;
   cursor: pointer;
   margin-top: 6px;
}

.small-img-col .small-img {
   width: 100px;
   height: 100px;
   object-fit: cover;
   object-position: top;
}

#prodetails {
   display: flex;
   margin-top: 30px;
}

#prodetails .single-pro-details {
   width: 50%;
   padding-top: 30px;
}

#prodetails .single-pro-details h4 {
   padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
   font-size: 28px;
}

#prodetails .single-pro-details select {
   display: block;
   padding: 5px 10px;
   margin-bottom: 10px;
}

#prodetails .single-pro-details input {
   width: 50px;
   height: 47px;
   padding-left: 10px;
   font-size: 16px;
   margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
   outline: none;
}

.flex button {
   background-color: #088178;
   color: white;
   padding: 7px 70px;
}

.wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 10px;
   border: 1px solid #cce7d0;
   border-radius: 5px;
}

.wrapper span {
   padding: 10px 20px;
   border: 1px solid #cce7d0;
   cursor: pointer;
   font-size: 20px;
   font-weight: 700;
}

.kuka {
   display: none;
}

.button {
   --width: 200px;
   --height: 50px;
   --tooltip-height: 35px;
   --tooltip-width: 90px;
   --gap-between-tooltip-to-button: 18px;
   --button-color: #222;
   --tooltip-color: #fff;
   width: var(--width);
   height: var(--height);
   background: var(--button-color);
   position: relative;
   text-align: center;
   border-radius: 0.5em;
   font-family: "Arial";
   transition: background 0.7s;
}

.button::before {
   position: absolute;
   content: attr(data-tooltip);
   width: var(--tooltip-width);
   height: var(--tooltip-height);
   background-color: #555;
   font-size: 0.9rem;
   color: #fff;
   border-radius: 0.25em;
   line-height: var(--tooltip-height);
   bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
   left: calc(50% - var(--tooltip-width) / 2);
}

.button::after {
   position: absolute;
   content: "";
   width: "";
   height: 0;
   border: 10px solid transparent;
   border-top-color: #555;
   left: calc(50% - 10px);
   bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,
.button::before {
   opacity: 0;
   visibility: hidden;
   transition: all 0.5s;
}

.text {
   display: flex;
   align-items: center;
   justify-content: center;
}

.button-wrapper,
.text,
.icon {
   overflow: hidden;
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   color: #fff;
}

.text {
   top: 0;
}

.text,
.icon {
   transition: top 0.5s;
}

.icon {
   color: #fff;
   top: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.icon svg {
   width: 24px;
   height: 24px;
}

.button:hover {
   background: #222;
}

.button:hover .text {
   top: -100%;
}

.button:hover .icon {
   top: 0;
}

.button:hover:before,
.button:hover:after {
   opacity: 1;
   visibility: visible;
}

.button:hover:after {
   bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
   bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}


@media (max-width: 850px) {
   #prodetails .single-pro-image {
      width: 50%;
   }

   .kuka {
      display: block;
   }

   .none {
      display: none;
   }

   #prodetails {
      height: 700px;
   }
}

@media (max-width: 500px) {
   #prodetails {
      display: block;
   }

   #prodetails .single-pro-image {
      width: 100%;
   }

   #prodetails .single-pro-details {
      width: 100%;
   }

   #prodetails .single-pro-details h4 {
      padding: 0;
   }

   #prodetails .single-pro-details {
      width: 50%;
      padding-top: 120px;
   }

   .section-p1 {
      padding: 20px;
   }

   #prodetails {
      height: 800px;
   }

   .button {
      --width: 250px;
      --height: 50px;
   }

   .w-100 {
      width: 330px !important;
  }
}